#!/usr/bin/env ruby

require 'byebug'
require 'nokogiri'
Nanoc::Filter.define(:markdown_links) do |content, params|
  document = Nokogiri::HTML::DocumentFragment.parse(content)

  document.css("h2").each do |header|
    id = header.attributes["id"]
    header.wrap(%|<a href="##{id}"></a>|)
  end

  document.to_s
end

compile '/**/*.{html,html.erb}' do
  layout '/default.*'
  filter :erb

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext
  else
    path = "#{item.identifier.to_s.sub(/\..*$/, "")}/index.html"
    write path
  end
end

compile '/**/*.md' do
  filter :kramdown
  filter :markdown_links
  filter :colorize_syntax, default_colorizer: :rouge
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
