.pure-g {
  margin: 0 auto;
  max-width: 35em; /* keeps about ~10 words per line on big screens */
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Garamond", serif;
    font-size: large;
    color: #000000b8;
}

p {
  line-height: 1.5em;
}

h2 {
  font-family: monospace;
}

.header h1 {
  font-size: 2.5em; font-family: monospace; color: #ce0e2d;
  margin-bottom: 0;
}

.header h1 .light {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
}

.footer {
  font-family: monospace;
  color: #0000004f;
  text-align: center;
}

.l-box {
  padding: 0 1em;
}


h1 a {
  color: #ce0e2d;
  text-decoration: none;
}

hr {
  height: 0.2em;
  border-style: none;
  background: #ce0e2d;
}

.content hr {
  height: 0.1em;
  width: 50%;
}

a {
  color: #ce0e2d;
}

.light {
  color: #0000004f;
}

pre {
  margin-left: -1em;
  padding: 0.5em 1em 0.5em 1em;
  overflow: scroll;
  background: rgb(253, 250, 239);
}

code {
  font-size: 0.8em;
  background: rgb(253, 250, 239);
}

.post-title {
  margin-bottom: 0.2em;
}

.post-meta {
  margin-top: 0;
  color: #0000004f;
}

